
*.html
*.exe
*.o
Codeforces Round #693 (Div. 3)/A. Cards for Friends
Codeforces Round #693 (Div. 3)/B. Fair Division
Codeforces Round #693 (Div. 3)/C. Long Jumps
Codeforces Round #693 (Div. 3)/D. Even-Odd Game
