
*.html
*.exe
*.o
Codeforces Round #693 (Div. 3)/A. Cards for Friends
Codeforces Round #693 (Div. 3)/B. Fair Division
Codeforces Round #693 (Div. 3)/C. Long Jumps
Codeforces Round #693 (Div. 3)/D. Even-Odd Game
Codeforces Round #694 (Div. 2)/A. Strange Partition
Codeforces Round #694 (Div. 2)/B. Strange List
Codeforces Round #695 (Div. 2)/A. Wizard of Orz
Codeforces Round #695 (Div. 2)/B. Hills And Valleys
Educational Codeforces Round 102 (Rated for Div. 2)/A. Replacing Elements
Educational Codeforces Round 102 (Rated for Div. 2)/B. String LCM
Educational Codeforces Round 102 (Rated for Div. 2)/C. No More Inversions
Codeforces Round #696 (Div. 2)/A. Puzzle From the Future
Codeforces Round #696 (Div. 2)/B. Different Divisors
Codeforces Round #696 (Div. 2)/C. Array Destruction
Codeforces Round #696 (Div. 2)/C. Array Destruction2
Codeforces Round #667 (Div. 3)/A. Yet Another Two Integers Problem
Codeforces Round #667 (Div. 3)/B. Minimum Product
Codeforces Round #667 (Div. 3)/C. Yet Another Array Restoration
Codeforces Round #667 (Div. 3)/D. Decrease the Sum of Digits
AtCoder Beginner Contest 189/c
AtCoder Beginner Contest 189/A
AtCoder Beginner Contest 189/B
Codeforces Round #697 (Div. 3)/A. Odd Divisor
Codeforces Round #697 (Div. 3)/B. New Years Number
Codeforces Round #697 (Div. 3)/C. Ball in Berland
Codeforces Round #697 (Div. 3)/E. Advertising Agency
Codeforces Round #698 (Div. 2)/A. Nezzar and Colorful Balls
Codeforces Round #698 (Div. 2)/B. Nezzar and Lucky Number
Codeforces Round #698 (Div. 2)/B. Nezzar and Lucky Number22
AtCoder Beginner Contest 190/A
AtCoder Beginner Contest 190/B
Codeforces Round #654 (Div. 2)/A. Magical Sticks
AtCoder Beginner Contest 190/C
