
*.html
*.exe
*.o
Codeforces Round #693 (Div. 3)/A. Cards for Friends
Codeforces Round #693 (Div. 3)/B. Fair Division
Codeforces Round #693 (Div. 3)/C. Long Jumps
Codeforces Round #693 (Div. 3)/D. Even-Odd Game
Codeforces Round #694 (Div. 2)/A. Strange Partition
Codeforces Round #694 (Div. 2)/B. Strange List
Codeforces Round #695 (Div. 2)/A. Wizard of Orz
Codeforces Round #695 (Div. 2)/B. Hills And Valleys
Educational Codeforces Round 102 (Rated for Div. 2)/A. Replacing Elements
Educational Codeforces Round 102 (Rated for Div. 2)/B. String LCM
Educational Codeforces Round 102 (Rated for Div. 2)/C. No More Inversions
Codeforces Round #696 (Div. 2)/A. Puzzle From the Future
Codeforces Round #696 (Div. 2)/B. Different Divisors
Codeforces Round #696 (Div. 2)/C. Array Destruction
Codeforces Round #696 (Div. 2)/C. Array Destruction2
Codeforces Round #667 (Div. 3)/A. Yet Another Two Integers Problem
Codeforces Round #667 (Div. 3)/B. Minimum Product
Codeforces Round #667 (Div. 3)/C. Yet Another Array Restoration
Codeforces Round #667 (Div. 3)/D. Decrease the Sum of Digits
AtCoder Beginner Contest 189/c
AtCoder Beginner Contest 189/A
AtCoder Beginner Contest 189/B
Codeforces Round #697 (Div. 3)/A. Odd Divisor
Codeforces Round #697 (Div. 3)/B. New Years Number
Codeforces Round #697 (Div. 3)/C. Ball in Berland
Codeforces Round #697 (Div. 3)/E. Advertising Agency
Codeforces Round #698 (Div. 2)/A. Nezzar and Colorful Balls
Codeforces Round #698 (Div. 2)/B. Nezzar and Lucky Number
Codeforces Round #698 (Div. 2)/B. Nezzar and Lucky Number22
AtCoder Beginner Contest 190/A
AtCoder Beginner Contest 190/B
Codeforces Round #654 (Div. 2)/A. Magical Sticks
AtCoder Beginner Contest 190/C
Codeforces Round #654 (Div. 2)/B. Magical Calendar
Codeforces Round #682 (Div. 2)/B. Valerii Against Everyone
Codeforces Round #688 (Div. 2)/A. Cancel the Trains
Codeforces Round #688 (Div. 2)/B. Suffix Operations
Educational Codeforces Round 103 (Rated for Div. 2)/A. K-divisible Sum
Educational Codeforces Round 103 (Rated for Div. 2)/B. Inflation
Codeforces Round #699 (Div. 2)/A
Codeforces Round #699 (Div. 2)/B
Codeforces Round #699 (Div. 2)/B. New Colony
Codeforces Round #699 (Div. 2)/C. Fence Painting
SIT STAR Contest 2021/462 B. Appleman and Card Game
SIT STAR Contest 2021/A. Arithmetic
SIT STAR Contest 2021/B. Fair Division
SIT STAR Contest 2021/C. Baking
SIT STAR Contest 2021/D. Cheese Factory
SIT STAR Contest 2021/E. Chocolate Split
SIT STAR Contest 2021/F. Divisibility Problem
SIT STAR Contest 2021/F. Divisibility Problem22
SIT STAR Contest 2021/G. Comics Collection
SIT STAR Contest 2021/H. Bad Sectors
SIT STAR Contest 2021/I. Friends at the Cafeteria
SIT STAR Contest 2021/D. Parking
SIT STAR Contest 2021/B. Three Corners
SIT STAR Contest 2021 practice/A. Arithmetic
SIT STAR Contest 2021 practice/B. Fair Division
SIT STAR Contest 2021 practice/C. Baking
SIT STAR Contest 2021 practice/D. Cheese Factory
SIT STAR Contest 2021 practice/E. Chocolate Split
SIT STAR Contest 2021 practice/F. Divisibility Problem
SIT STAR Contest 2021 practice/F. Divisibility Problem22
SIT STAR Contest 2021 practice/G. Comics Collection
SIT STAR Contest 2021 practice/H. Bad Sectors
SIT STAR Contest 2021 practice/I. Friends at the Cafeteria
SIT STAR Contest 2021/A. Elevator
Educational Codeforces Round 104 (Rated for Div. 2)/C. Minimum Ties
Educational Codeforces Round 104 (Rated for Div. 2)/B. Cat Cycle
Educational Codeforces Round 104 (Rated for Div. 2)/A. Arena
Codeforces Global Round 13/A. K-th Largest Value
Codeforces Global Round 13/B. Minimal Cost
Codeforces Global Round 13/C. Pekora and Trampoline
Codeforces Global Round 13/C. Pekora and Trampoline2
Codeforces Round #532 (Div. 2)/B. Build a Contest
Codeforces Round #569 (Div. 2)/B. Nick and Array
Codeforces Round #655 (Div. 2)/A. Omkar and Completion
Codeforces Round #655 (Div. 2)/B. Omkar and Last Class of Math
Codeforces Round #655 (Div. 2)/C. Omkar and Baseball
Codeforces Round #663 (Div. 2)/A. Suborrays
Codeforces Round #663 (Div. 2)/B. Fix You
Codeforces Round #663 (Div. 2)/C. Cyclic Permutations
Codeforces Round #700 (Div. 2)/A. Yet Another String Game
Codeforces Round #700 (Div. 2)/B. The Great Hero
Codeforces Round #700 (Div. 2)/C. Searching Local Minimum
Codeforces Round #701 (Div. 2)/A. Add and Divide
CodeCraft-21 and Codeforces Round #711 (Div. 2)/A. GCD Sum
CodeCraft-21 and Codeforces Round #711 (Div. 2)/B. Box Fitting
Codeforces Global Round 14/A. Phoenix and Gold
Codeforces Global Round 14/B. Phoenix and Puzzle
Codeforces LATOKEN Round 1 (Div. 1 + Div. 2)/A. Colour the Flag
Codeforces LATOKEN Round 1 (Div. 1 + Div. 2)/B. Histogram Ugliness
Codeforces Round #702 (Div. 3)/A. Dense Array
Codeforces Round #702 (Div. 3)/B. Balanced Remainders
Codeforces Round #702 (Div. 3)/C. Sum of Cubes
Codeforces Round #702 (Div. 3)/D. Permutation Transformation
Codeforces Round #702 (Div. 3)/E. Accidental Victory
Codeforces Round #704 (Div. 2)/A. Three swimmers
Codeforces Round #704 (Div. 2)/B. Card Deck
Codeforces Round #705 (Div. 2)/A. Anti-knapsack
Codeforces Round #705 (Div. 2)/B. Planet Lapituletti
Codeforces Round #706 (Div. 2)/A. Split it
Codeforces Round #706 (Div. 2)/B. Max and Mex
Codeforces Round #706 (Div. 2)/C. Diamond Miner
Codeforces Round #707 (Div. 2, based on Moscow Open Olympiad in Informatics)/A. Alexey and Train
Codeforces Round #707 (Div. 2, based on Moscow Open Olympiad in Informatics)/B. Napoleon Cake
Codeforces Round #708 (Div. 2)/A. Meximization
Codeforces Round #708 (Div. 2)/B. M-arrays
Codeforces Round #708 (Div. 2)/C1. k-LCM (easy version)
Codeforces Round #709 (Div. 2, based on Technocup 2021 Final Round)/A
Codeforces Round #709 (Div. 2, based on Technocup 2021 Final Round)/B
Codeforces Round #710 (Div. 3)/A
Codeforces Round #710 (Div. 3)/A. Strange Table
Codeforces Round #710 (Div. 3)/B
Codeforces Round #710 (Div. 3)/C
Codeforces Round #712 (Div. 2)/A. Deja vu
Single Round Match 804/YetAnotherGraphColoring
kickstart/Round A 2021/K goodness string
Codeforces Round #712 (Div. 2)/B. Flip the Bits
Codeforces Round #712 (Div. 2)/C
Codeforces Round #712 (Div. 2)/C. Balance the Bits
Codeforces Round #712 (Div. 2)/H
Codeforces Round #722 (Div. 2)/A. Eshag Loves Big Arrays
Codeforces Round #722 (Div. 2)/B. Sifid and Strange Subsequences
Codeforces Round #724 (Div. 2)/A. Omkar and Bad Story
Codeforces Round #724 (Div. 2)/B. Prinzessin der Verurteilung
Codeforces Round #725 (Div. 3)/A. Stone Game
Codeforces Round #725 (Div. 3)/B. Friends and Candies
Codeforces Round #725 (Div. 3)/C. Number of Pairs
Codeforces Round #726 (Div. 2)/A. Arithmetic Array
Codeforces Round #726 (Div. 2)/B. Bad Boy
Codeforces Round #726 (Div. 2)/C
Codeforces Round #726 (Div. 2)/C. Challenging Cliffs
Codeforces Round #726 (Div. 2)/E1. Erase and Extend (Easy Version)
Contest 2050 and Codeforces Round #718 (Div. 1 + Div. 2)/B. Morning Jogging
Deltix Round, Spring 2021 (open for everyone, rated, Div. 1 + Div. 2)/A. Game of Life
Deltix Round, Spring 2021 (open for everyone, rated, Div. 1 + Div. 2)/B. Lord of the Values
Educational Codeforces Round 106 (Rated for Div. 2)/A. Domino on Windowsill
Educational Codeforces Round 106 (Rated for Div. 2)/B. Binary Removals
Educational Codeforces Round 106 (Rated for Div. 2)/C. Minimum Grid Path
Educational Codeforces Round 107 (Rated for Div. 2)/A. Review Site
Educational Codeforces Round 107 (Rated for Div. 2)/B. GCD Length
Educational Codeforces Round 107 (Rated for Div. 2)/C. Yet Another Card Deck
Educational Codeforces Round 107 (Rated for Div. 2)/D. Min Cost String
Educational Codeforces Round 108 (Rated for Div. 2)/A. Red and Blue Beans
Educational Codeforces Round 110 (Rated for Div. 2)/B. Array Reodering
Educational Codeforces Round 110 (Rated for Div. 2)/B
Educational Codeforces Round 110 (Rated for Div. 2)/A. Fair Playoff
Educational Codeforces Round 108 (Rated for Div. 2)/B. The Cake Is a Lie
Codeforces Round #680 (Div. 2, based on Moscow Team Olympiad)/B. Elimination
Codeforces Round #683 (Div. 2, by Meet IT)/B. Numbers Box
Codeforces Round #683 (Div. 2, by Meet IT)/C. Knapsack
codejam 2021/MedianSort
codejam 2021/Moons and umbrellas
codejam 2021/Reversort
codejam 2021/Reversort Engineering
codejam Round 1A 2021/append sort 2
codejam Round 1A 2021/append sort
Codeforces Round #727 (Div. 2)/A. Contest Start
Codeforces Round #727 (Div. 2)/B. Love Song
Codeforces Round #727 (Div. 2)/C. Stable Groups
Codeforces Round #728 (Div. 2)/A. Pretty Permutations
Codeforces Round #728 (Div. 2)/B. Pleasant Pairs
qualification-criteria.pdf
codejam 2021/Reversort Engineering.cpp
Codeforces Round #670 (Div. 2)/A. Subset Mex
Codeforces Round #670 (Div. 2)/B. Maximum Product
